.blue{
    background-color: rgb(11, 3, 57);
    color: white !important;
}

.green{
    background-color: #00bdc5;
    color: white !important;
}

.btn-eglow {
    border: 0px;
    box-shadow: 2px 2px 3px #888888;
    display: inline-block;
    font-size: 15px;
    font-weight: normal !important;
    height: 37px !important;
    margin: 0 auto !important;
    margin-left: 10px !important;
    padding: 6px;
    padding-top: 8px;
    width: 146px;
}

.btn-eglow:hover{
    cursor: pointer;
}

.btn-eglow:first-child{
    margin-left: 0px !important;
}

.btn-sections{
    bottom: 30px;
    margin-left: -20px;
    position: absolute;
    width: 100%;
}

.icon-close-alert {
    align-content: center;
    border: 1px solid gray;
    border-radius: 50%;
    font-size: 14px;
    height: 23px;
    padding-left: 1px;
    padding-top: 0px;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 23px;
}

.icon-close-alert:hover {
    cursor: pointer;
}

.message-alert {
    font-weight: 500;
}

.swal2-content {
    position: initial !important;
}

.swal2-modal {
    width: 435px !important;
    height: 434px !important;
    border-radius: 0;
}