.caja_icono {
  border: 1px #F97767 solid;
  padding: 2px;
}

.titulo-posts {
  font-size: 13px !important;
  letter-spacing: 2px;
}

.range {
  display: table;
  position: relative;
  height: 25px;
  margin-top: 20px;
  background-color: whitesmoke;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.range input[type="range"] {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  -ms-appearance: none !important;
  -o-appearance: none !important;
  appearance: none !important;
  display: table-cell;
  width: 100%;
  background-color: transparent;
  height: 25px;
  cursor: pointer;
}

.range input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  -ms-appearance: none !important;
  -o-appearance: none !important;
  appearance: none !important;
  width: 26px;
  height: 26px;
  color: white;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 13px;
  background-color: #999999;
}

.range input[type="range"]::-moz-slider-thumb {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  -ms-appearance: none !important;
  -o-appearance: none !important;
  appearance: none !important;
  width: 26px;
  height: 26px;
  color: white;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 13px;
  background-color: #999999;
}

.range output {
  display: table-cell;
  padding: 5px 5px 5px;
  min-width: 40px;
  color: white;
  background-color: #999999;
  text-align: left;
  text-decoration: none;
  border-radius: 0px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.range input[type="range"] {
  outline: none;
}

.range.range-primary input[type="range"]::-webkit-slider-thumb {
  background-color: #4e6185;
}

.range.range-primary input[type="range"]::-moz-slider-thumb {
  background-color: #4e6185;
}

.range.range-primary output {
  background-color: #4e6185;
}

.range.range-primary input[type="range"] {
  outline-color: #4e6185;
}

.range.range-success input[type="range"]::-webkit-slider-thumb {
  background-color: #5cb85c;
}

.range.range-success input[type="range"]::-moz-slider-thumb {
  background-color: #5cb85c;
}

.range.range-success output {
  background-color: #5cb85c;
}

.range.range-success input[type="range"] {
  outline-color: #5cb85c;
}

.box-header,
.cursor-pointer {
  cursor: pointer;
}

.modal-header.no-title {
  border-bottom: 0px;
  padding: 10px 15px 0px 15px;
}

.img-user {
  width: 150px;
}

.content-header > .breadcrumb {
  position: relative;
  margin-top: 5px;
  top: 0;
  right: 0;
  float: none;
  background: #d2d6de;
  padding-left: 10px;
}

.breadcrumb li:before,
.breadcrumb > li + li:before {
  color: #97a0b3;
}

.radio label,
.checkbox label {
  padding-left: 0px;
  padding-right: 20px;
}

.thumbnail > img,
.thumbnail a > img {
  height: 80px;
}

.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  background: #ecf0f5;
}

.sidebar-menu > li.active > a {
  font-weight: 900 !important;
}

.bg-lightergray,
.input-group-addon.bg-lightergray {
  background-color: #0b0339;
}

.bg-gray-tooltipster {
  background-color: #0b0339;
}

.fa.fa-spinner {
  font-family: FontAwesome;
}

.padding-min {
  paddin-right: 5px !important;
  padding-left: 5px !important;
}

.form-group {
  margin-bottom: 18px;
}

.form-group.has-error .form-control,
.form-group.has-error .select2-container--default .select2-selection--single,
.form-group.has-error .select2-container--default .select2-selection--multiple {
  background-color: #f2dede;
  border-color: #a94442;
}

a:hover, a:focus {
  text-decoration: none;
  font-style: italic;
}

.logotipo {
  max-width: 200px;
}

/* Gentelella */
.breadcrumb {
  background-color: #d2d6de;
}

.panel_toolbox {
  min-width: initial;
}

.x_title {
  cursor: pointer;
}

.login_content h1:before,
.login_content h1:after {
  width: 15%;
}

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
  min-height: 34px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered,
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  padding-top: 2px;
}

.form-control {
  margin-bottom: 5px;
  height: 38px;
}

.form-control:focus {
  border-color: #337ab7;
  background-color: lightyellow;
  box-shadow: none !important;
}

.float-initial {
  float: initial !important;
}

.nav.side-menu > li {
  /* &:hover {
        background: $header-bg;
    } */
}

.nav.side-menu > li.active > a,
.nav.side-menu > li:hover > a {
  background: #0b0339;
}

.nav.side-menu > li.current-page, .nav.side-menu > li.active {
  border-right: 0px;
}

.nav.child_menu li.active {
  background-color: rgba(255, 255, 255, 0.3);
}

.modal-footer .btn + .btn {
  margin-bottom: 5px;
}

.nav-md .container.body .col-md-3.left_col {
  z-index: 1030;
}

.loading-indicator {
  position: absolute;
  top: 30%;
  left: 10px;
  z-index: 2;
}

.input-group .loading-indicator {
  left: 37px;
}

.info_marca {
  background-color: #4E6185;
  color: white;
  padding: 15px;
}

.gray_square {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.gray_square img {
  display: block;
  width: 35px;
}

.campana-dato {
  position: absolute;
}

/**
 * Customizing
 */
body,
a {
  color: #322774;
}

body,
.left_col {
  background: #00bdc5;
}

body .container.body .right_col {
  background: #9ffbfe;
}

.nav_menu,
.nav_title {
  background: #0b0339;
  color: #F57566;
  border-bottom: 1px solid #0b0339;
  height: 57px;
}

#menu_toggle {
  color: #00bdc5;
}

.nav.navbar-nav > li > a {
  color: #00bdc5 !important;
  line-height: 1.2;
  height: 57px;
}

.color-white {
  color: white !important;
}

.tab-content {
  background-color: white;
}

.tab-content > .tab-pane {
  background-color: white;
  padding: 25px;
}

ul.bar_tabs {
  margin: 21px 0 0px;
  background: transparent;
}

ul.bar_tabs > li {
  background: transparent;
  border-radius: 0px;
  margin-top: -16px;
  border: 0px;
}

ul.bar_tabs > li a {
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.3);
}

ul.bar_tabs > li a .fa {
  color: #00bdc5;
}

ul.bar_tabs > li.active {
  margin-top: -14px;
  background-color: white;
  border-right: 0px;
}

.tab-pane h2 {
  font-weight: bold;
}

.input-group-addon {
  color: white;
  background-color: #0b0339;
  border: 1px solid #0b0339;
  border-radius: 0px;
  min-width: 38px;
  padding: 0px;
}

.text-red {
  color: #00bdc5;
}

.text-red.error {
  color: red !important;
}

.text-black {
  color: black;
}

.text-gray {
  color: black;
}

.text-lightergray {
  color: #0b0339;
}

.text-white {
  color: white;
}

table {
  background-color: white;
}

.icon-red,
.input-group-addon.icon-red {
  background-color: #00bdc5;
  color: white;
}

.btn-red, .btn-red-rounded,
.btn-red-circle {
  background-color: #00bdc5;
  color: white;
}

.btn-red-rounded,
.btn-red-circle {
  border-radius: 20px;
}

.btn-red-circle {
  padding: 6px 9px;
}

.btn-red-circle.btn-xs {
  padding: 1px 5px;
}

.help-block {
  margin-bottom: 0px;
  color: #737373;
  position: absolute;
  bottom: -17px;
  left: 8px;
}

#hashtag-box,
#palabra-clave-box {
  background-color: #0b0339;
  margin-left: 38px;
  margin-top: 8px;
  border-radius: 8px;
  padding: 8px;
  color: white;
}

#palabra-clave-box {
  margin-top: -15px;
  min-height: 80px;
}

#hashtag-list,
#palabra-clave-list,
#profesion-list,
.container-item-list {
  padding-left: 10px;
}

#hashtag-list li,
#palabra-clave-list li,
#profesion-list li,
.container-item-list li {
  list-style: none;
  display: inline-block;
  min-width: 150px;
  line-height: 1.8;
}

.nav-sm span.fa,
.nav-sm .menu_section h3 {
  display: initial;
}

#nprogress .bar {
  background: #00bdc5;
  height: 3px;
}

#nprogress .peg {
  box-shadow: 0 0 10px #00bdc5, 0 0 5px #00bdc5;
}

#nprogress .spinner-icon {
  border-top-color: #00bdc5;
  border-left-color: #00bdc5;
}

#nprogress .spinner {
  right: 50%;
}

.red-box {
  background-color: #00bdc5;
  color: white;
  padding: 5px;
  min-width: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
}

.blue-box {
  background-color: #4E6185;
  color: white;
}

.blue-box .bootstrap-datetimepicker-widget {
  color: black;
}

.gray-box {
  background-color: #95909E;
}

.bg-gray-blue {
  background-color: #3E4E79;
}

.bg-lightgray {
  background-color: #ccc;
}

.black-box {
  background-color: #0b0339;
  color: white;
  margin: 3px;
  margin-bottom: 10px;
}

.black-box table {
  background-color: #0b0339;
}

.black-box > div {
  padding: 10px;
}

.black-box > div:first-child {
  padding-left: 20px;
}

.black-box > div:last-child {
  padding-right: 20px;
}

.black-box a {
  color: white;
}

.btn-delete,
.btn-add {
  cursor: pointer;
}

.container-list-influenciadores-seleccionados {
  border: 1px solid;
  padding: 10px 20px 10px;
  border-radius: 5px;
  max-height: 600px;
  overflow: auto;
}

.item-influenciador-seleccionado {
  height: 120px;
  margin-bottom: 10px;
}

.item-influenciador-seleccionado .img-influenciador {
  width: 100%;
  height: 120px;
}

.item-influenciador-seleccionado .div-img {
  padding: 0px;
}

.item-influenciador-seleccionado .div-body {
  padding: 8px;
}

.item-influenciador-seleccionado .btn-delete {
  position: absolute;
  top: 5px;
  left: 5px;
  background: white;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  text-align: center;
  line-height: 1;
}

.item-influenciador-search {
  min-height: 250px;
  margin-bottom: 10px;
}

.item-influenciador-search a {
  color: white;
}

.item-influenciador-search .img-influenciador {
  width: 100%;
  height: 120px;
}

.item-influenciador-search .div-img {
  padding: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: lightgray;
  height: 170px;
}

.item-influenciador-search .div-img .footer {
  background-color: rgba(240, 240, 240, 0.4);
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 5px;
}

.item-influenciador-search .spacer {
  height: 120px;
  display: block;
}

.item-influenciador-search .div-body {
  padding: 8px;
  background-color: #4E6185;
  color: white;
}

.item-influenciador-search .btn-add {
  position: absolute;
  top: 5px;
  left: 5px;
  background: white;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  text-align: center;
  line-height: 1;
}

.item-influenciador-search .footer {
  padding: 12px;
  background-color: #95909E;
}

.item-influenciador-search .footer .mini-red-social {
  display: inline-block;
  width: 65px;
  height: 80px;
  padding-top: 3px;
}

.item-influenciador-search .footer .mini-red-social .logo-red-social {
  display: block;
  width: 43px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 5px;
}

.item-influenciador-search .footer .mini-red-social .logo-red-social img {
  width: 100%;
  height: 100%;
}

.item-influenciador-search .footer .mini-red-social .red-box {
  min-width: 43px;
  min-height: 20px;
  display: inline-block;
  line-height: 1;
  text-align: center;
}

.bigger {
  font-size: large;
}

.light-gray {
  color: lightgray;
}

.text-dark-gray {
  color: #95909E;
}

.box-border-gray {
  border: 1px solid darkgray;
  padding: 10px;
  border-radius: 5px;
}

.pagination > li > a,
.pagination > li > span {
  color: black;
  background-color: transparent;
  border-color: transparent;
  padding: 3px 3px;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  color: #00bdc5;
  border-color: transparent;
  background-color: transparent;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: #00bdc5;
}

img.avatar {
  height: 80px;
  width: 80px;
  display: inline-block;
  margin: 6px 6px 6px 0px;
}

img.avatar.small {
  height: 40px;
  width: 40px;
  margin: 0px;
}

.plus-influenciadores {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid white;
  background-color: #00bdc5;
  font-size: large;
  text-align: center;
  padding-top: 6px;
}

.img-campana {
  width: 70px;
  height: 70px;
}

ul.bar_tabs > li.disabled a {
  color: #95909E;
  cursor: not-allowed;
}

.title {
  font-weight: 900;
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.container-posts .row {
  padding-bottom: 15px;
}

.container-posts .container-avatar {
  padding: 0px;
}

.container-posts .container-avatar img.avatar {
  width: 100%;
  height: inherit;
  margin: 0;
  padding: 0;
  border: 0;
}

.container-posts .container-avatar .cantidad_seguidores {
  position: absolute;
  bottom: 0;
  right: 0;
}

#btn-toogle-posts,
#btn-chat {
  width: 34px;
  height: 34px;
  padding: 0px 0px;
}

.cantidad-publicaciones,
.btn-cantidad-publicaciones {
  display: inline-block;
  height: 33px;
  text-align: center;
  vertical-align: middle;
  border-radius: 5px;
  padding: 3px;
  margin: 0px;
}

.cantidad-publicaciones:hover,
.btn-cantidad-publicaciones:hover {
  color: inherit;
}

.cantidad-publicaciones a,
.btn-cantidad-publicaciones a {
  color: white;
}

.cantidad-publicaciones a:hover,
.btn-cantidad-publicaciones a:hover {
  color: black;
}

.cantidad-publicaciones {
  width: 35px;
  font-size: large;
}

.btn-cantidad-publicaciones {
  width: 50px;
}

.btn-cantidad-publicaciones span {
  display: inline-block;
  height: 22px;
}

.btn-cantidad-publicaciones a {
  display: table-row;
  line-height: 0;
}

.cantidad_publicaciones_widget {
  padding: 3px 0;
}

.container-opciones-redes-sociales,
.container-opciones-posts {
  margin-top: 10px;
  padding-left: 0px;
}

#list-message-chat {
  padding: 10px;
}

#chat-modal .modal-body .row:not(.Influenciador) {
  padding-left: 40px;
  padding-right: 8px;
}

#chat-modal .modal-body .row > div {
  background-color: lightcyan;
  border-radius: 8px;
  padding: 8px;
}

#chat-modal .modal-body .row > div.Influenciador {
  background-color: #ddd;
}

#chat-modal .date {
  font-size: x-small;
}

a.disabled {
  cursor: not-allowed;
}

a {
  cursor: pointer;
}

.btn-toggle-list-posts {
  width: 34px;
}

.form-group.calendar {
  color: black;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
  padding: 0;
}

.irs-from,
.irs-to,
.irs-single {
  background: #00bdc5;
}

.irs-from:after,
.irs-to:after,
.irs-single:after {
  border-top-color: #00bdc5;
}

/* Bootstrap File Input */
.kv-avatar .file-preview-frame, .kv-avatar .file-preview-frame:hover {
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  text-align: center;
  display: inline-block;
  height: initial;
  width: 100%;
}

.kv-avatar .file-preview-frame:hover {
  cursor: pointer;
}

.kv-avatar .file-preview {
  padding: 0;
  margin-bottom: 0;
}

.kv-avatar .file-preview .file-drop-zone,
.kv-avatar .file-preview .file-drop-disabled {
  margin: 0;
  padding: 0;
  height: 92px;
  overflow: auto;
}

.kv-avatar .file-preview .file-drop-disabled {
  cursor: not-allowed;
}

.kv-avatar .file-input {
  max-width: 140px;
  background-color: #eeeeee;
}

.kv-avatar .file-input .file-actions {
  margin-top: 5px;
}

.kv-avatar .file-drop-zone .file-preview-thumbnails {
  cursor: pointer;
}

.file-error-message {
  margin: 0;
  padding: 5px;
}

.file-error-message ul {
  padding-left: 5px;
  list-style: none;
}

.container-file-input {
  margin-bottom: 0;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

/* .popover {
    background-color: $popover_bg;

    &.left>.arrow:after {
        border-left-color: $popover_bg;
    }
}
.popover-content {
    color: black;
} */
/* http://getbootstrap.com.vn/examples/equal-height-columns/ */
.row-eq-height {
  display: -webkit-box;
  display: flex;
}

.btn {
  position: relative;
}

.btn > .badge {
  position: absolute;
  top: -3px;
  right: -10px;
  font-size: 10px;
  font-weight: 400;
}

.btn:hover {
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.3);
}

.btn-estadistica {
  padding: 10px;
  margin: 10px;
}

#menu-estadisticas .btn.focus,
#menu-estadisticas .btn:focus,
#menu-estadisticas .btn:hover {
  color: white;
}

.list-icon {
  list-style: none;
}

.list-icon li {
  padding-bottom: 15px;
}

.list-icon li h4 {
  margin-bottom: 15px;
  padding-top: 5px;
}

.list-icon li .li-icon {
  position: absolute;
  left: 10px;
  width: 25px;
  height: 25px;
  text-align: center;
}

div[id$="-license-text"] {
  display: none;
}

/* http://mdbootstrap.com/mdb3/javascript/smooth-scroll */
/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: white;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #00bdc5;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.7);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #00bdc5;
}

/**
 * codecanyon
 */
/*#slick {
    width: 100%;
}
#slick .field span.icon {
    background: $field-black;
}
#slick .field input,
#slick .field textarea,
#slick .field select {
    border: solid 1px $field-black;
}*/
.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 15px;
  color: #fff;
  text-align: center;
  background: #00bdc5;
  margin-top: 10px;
  position: relative;
  padding-right: 20px;
}

.circle span.ordinary {
  font-size: 25px;
  font-weight: bold;
  display: inline-block;
  position: absolute;
  top: 31%;
  left: 43%;
}

.circle span.number {
  padding-top: 5px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0%;
  text-align: center;
  width: 100%;
}

.circle-small {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  font-size: 15px;
  color: #fff;
  text-align: center;
  background: #00bdc5;
  margin-top: 10px;
  position: relative;
}

.circle-small span.ordinary {
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  position: absolute;
  top: 35%;
  left: 42%;
}

.circle-small span.number {
  padding-top: 5px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0%;
  text-align: center;
  width: 100%;
}

.text-small {
  font-size: 9pt !important;
}

.text-xsmall {
  font-size: 6pt !important;
}

.row.vertical-divider {
  overflow: hidden;
}

.row.vertical-divider > div[class^="col-"] {
  padding-bottom: 100px;
  margin-bottom: -100px;
  border-left: 20px solid #F2F7F9;
  border-right: 20px solid #F2F7F9;
}

.row.vertical-divider div[class^="col-"]:first-child {
  border-left: none;
}

.row.vertical-divider div[class^="col-"]:last-child {
  border-right: none;
}

div.base-cloud {
  position: relative;
  padding: 45px 15px 15px;
  margin: 0 -15px 15px;
}

div.render-cloud {
  margin: 0 auto;
  width: 450px;
  height: 250px;
}

.btn-eglow {
  font-family: 'Century Gothic', sans-serif;
  font-weight: bold;
  width: 230px;
  height: 59px;
}

.bg-eglow {
  background: #00BDC5;
  color: #000;
}

.bg-facebook {
  background: #3D5A98;
}

.btn-redes {
  width: 100%;
  height: 34px;
  text-align: center;
}

.btn-redes i {
  border-right: 1px solid #3E3E3E;
  padding-right: 7px;
  display: block;
  position: absolute;
  height: 34px;
  top: 0px;
  padding-top: 8px;
}

.btn-redes i.fa-facebook {
  padding-left: 5px;
}

.bootstrap-tagsinput {
  background-color: #fff;
  display: inline-block;
  padding: 4px 6px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  width: 100%;
  line-height: 22px;
  cursor: text;
}

.bootstrap-tagsinput input {
  border: 1px solid #cccccc;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 6px;
  margin-bottom: 5px;
  width: 100%;
  max-width: inherit;
}

.bootstrap-tagsinput.form-control input::-moz-placeholder {
  color: #777;
  opacity: 1;
}

.bootstrap-tagsinput.form-control input:-ms-input-placeholder {
  color: #777;
}

.bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
  color: #777;
}

.bootstrap-tagsinput .tag {
  margin-right: 2px;
  color: white;
}

.bootstrap-tagsinput .tag [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}

.bootstrap-tagsinput .tag [data-role="remove"]:after {
  content: "x";
  padding: 0px 2px;
}

.bootstrap-tagsinput .tag [data-role="remove"]:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.post-container.aprobado .fileinput-remove {
  display: none;
}

.content_post a {
  color: #00bdc5;
}

.main-container-statistics {
  background-color: white;
}

.main-container-statistics #tab-statistics .tab-content > .tab-pane {
  padding: 0px;
}

.main-container-statistics .gray-border {
  background-color: #EEF1FB;
  padding: 10px;
}

.main-container-statistics .border-bottom-gray {
  border-bottom: 10px solid #EEF1FB;
  margin: 0px -25px;
  padding: 5px 10px;
}

.main-container-statistics .border-left-gray {
  border-left: 10px solid #EEF1FB;
  margin: -10px 0px;
  padding: 10px 0px;
}

.main-container-statistics .border-right-gray {
  border-right: 10px solid #EEF1FB;
  margin: -10px 0px;
  padding: 10px 0px;
}

.main-container-statistics .table-spacing {
  border-spacing: 5px;
  border-collapse: initial;
  margin-left: auto;
}

.main-container-statistics .nav-tabs {
  border-bottom: 0;
}

.main-container-statistics .nav-tabs > li > a {
  font-weight: bold;
}

.main-container-statistics .nav-tabs > li > a,
.main-container-statistics .nav-tabs > li.active > a,
.main-container-statistics .nav-tabs > li.active > a:focus,
.main-container-statistics .nav-tabs > li.active > a:hover {
  border: 0;
  margin: 15px 5px;
  padding: 5px 5px 0px;
}

.main-container-statistics .nav-tabs > li.active > a,
.main-container-statistics .nav-tabs > li.active > a:focus,
.main-container-statistics .nav-tabs > li.active > a:hover {
  border-bottom: 1px solid gray;
}

.main-container-statistics .light-tab {
  text-align: center;
  background-color: #DBF4F5;
  margin: 0px -26px;
}

.main-container-statistics .light-tab > li {
  display: inline-block;
  float: none;
  min-width: 150px;
  margin-left: -3px;
  margin-right: -3px;
}

.main-container-statistics .light-tab > li:first-child > a {
  border-left: 1px solid #00bdc5 !important;
}

.main-container-statistics .light-tab > li:last-child > a {
  border-right: 1px solid #00bdc5 !important;
}

.main-container-statistics .light-tab.nav-tabs > li > a {
  border-right: 1px solid #00bdc5 !important;
}

.main-container-statistics .light-tab.nav-tabs > li > a,
.main-container-statistics .light-tab.nav-tabs > li.active > a,
.main-container-statistics .light-tab.nav-tabs > li.active > a:focus,
.main-container-statistics .light-tab.nav-tabs > li.active > a:hover {
  border: 0;
  margin: 1px;
  padding: 5px;
  border-radius: 0;
}

.main-container-statistics .light-tab.nav-tabs > li.active > a,
.main-container-statistics .light-tab.nav-tabs > li.active > a:focus,
.main-container-statistics .light-tab.nav-tabs > li.active > a:hover {
  color: white;
  border-bottom: 0;
  background-color: #00bdc5;
  border-right: 0;
}

.img-small {
  height: 20px;
  width: 20px;
  display: inline-block;
  margin-right: 1px;
}

.img-medium {
  height: 30px;
  width: 30px;
}

.img-large {
  height: 100px;
  width: 100px;
}

.box-light {
  background-color: #DBF4F5;
  display: inline-block;
  width: 101px;
  height: 60px;
  font-size: 19px;
  padding-top: 12px;
}

.box-light span {
  border-bottom: 1px solid #B5DBDC;
  display: inline-block;
  width: 70px;
}

.color-light {
  color: #00BDC5;
}

a.username,
a.hashtag,
a.url {
  color: #00BDC5;
}

.m-t--13 {
  margin-top: -13px;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #C7D3DD !important;
}

.tooltip-inner {
  background-color: #C7D3DD !important;
  color: #322774;
}

.color-lightgray {
  color: #979598;
}

.title-cam-g-info {
  margin-bottom: 0 !important;
}

.bg-transparent {
  background: transparent !important;
}

.form-control-small {
  border-color: #0b0339;
  height: 22px;
  padding: 2px;
}

.form-control-small:focus {
  border-color: #337ab7;
  background-color: lightyellow;
  box-shadow: none !important;
}

.img-influencer {
  width: 49px;
  height: 49px;
}

.border-bottom {
  border-bottom: 1px solid #D7EAEE;
}

.border-right {
  border-right: 1px solid #D7EAEE;
}

.border-top {
  border-top: 1px solid #D7EAEE;
}

#tab-trends {
  padding: 0;
}

#tab-trends .important {
  font-size: 18px !important;
  font-weight: bold;
}

#tab-trends .border-bottom-gray-trend {
  margin-left: -25px;
  margin-right: -35px;
  margin-top: -19px;
  border-bottom: 10px solid #EEF1FB;
}

#tab-trends .border-left-gray-trend {
  margin: 0;
  padding: 0;
  border-left: 10px solid #EEF1FB;
}

#tab-trends .border-right-gray-trend {
  margin: 0px;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 25px;
  border-right: 10px solid #EEF1FB;
}

.trends p {
  margin: 4px 0 4px;
  font-size: 12px;
}

.margin-top-row div {
  margin-top: 9px;
}

.row-height-audience {
  height: 395px;
}

.row-scroll {
  overflow-x: hidden;
  overflow-y: scroll;
}

.text-area-size {
  width: 456px;
  height: 151px;
}

.zc-ref {
  display: none;
}

.box-textarea-comment {
  width: 460px;
  height: 138px;
  resize: none;
  border: 3px solid #DBF4F5;
  outline: none;
  box-shadow: none;
}

.box-textarea-comment:focus {
  outline-width: 0px;
}

.button-comment {
  background-color: #0b0339;
  color: white;
  border: 0px;
  margin-left: 365px;
  margin-top: 5px;
  width: 85px;
}

.coming-soon {
  background: #9C9C9C;
  color: #685675;
  font-size: 12px;
}

.coming-soon p {
  position: relative;
  top: 100px;
  left: 40px;
}

@font-face {
  font-family: 'Cooper Hewitt';
  src: local("Cooper Hewitt"), url("../fonts/CooperHewitt-Light.eot"), url("../fonts/CooperHewitt-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/CooperHewitt-Light.woff") format("woff"), url("../fonts/CooperHewitt-Light.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

/*@font-face {
    font-family: 'Cooper Hewitt';
    src: local('Cooper Hewitt'),
        url('../fonts/CooperHewitt-Bold.eot'),
        url('../fonts/CooperHewitt-Bold.eot?#iefix') format('embedded-opentype'),
        // url('../fonts/CooperHewitt-Bold.svg') format('svg'),
        url('../fonts/CooperHewitt-Bold.woff') format('woff'),
        url('../fonts/CooperHewitt-Bold.otf') format('otf');
    font-weight: bold;
    font-style: normal;
}*/
@font-face {
  font-family: 'DS-DIGI';
  src: url(../fonts/DS-DIGI.ttf), url(../fonts/DS-DIGI.woff), url(../fonts/DS-DIGI.otf);
}

.small-copper {
  font-family: 'Cooper Hewitt';
  font-size: 9px !important;
}

.footer-chat-support {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  width: 200px;
  height: 50px;
  margin-left: 1054px;
  background-color: transparent;
}

.box-chat-support {
  background-color: red;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 54px;
  width: 0px;
  height: auto;
  margin-left: 999px;
  display: none;
}

.box-form-chat {
  padding: 10px 20px 20px;
  background-color: #00bdc5;
  width: 250px;
  height: 260px;
  border: 1px solid black;
  color: black;
  border-radius: 3px;
}

.box-form-textarea {
  height: 100px;
  border-radius: 3px;
  color: black;
}

.box-form-input {
  color: black;
  border-radius: 3px;
}

.icon-arrow {
  cursor: pointer;
}

#btn_send_message {
  border-radius: 3px;
  background-color: white;
  color: black;
  top: 5px;
}

table.dataTable thead .sorting {
  background-image: url("../img/datatable/sort_both.png") !important;
  background-repeat: no-repeat !important;
  background-position: center right !important;
}

table.dataTable thead .sorting_asc {
  background-image: url("../img/datatable/sort_asc.png") !important;
  background-repeat: no-repeat !important;
  background-position: center right !important;
}

table.dataTable thead .sorting_desc {
  background-image: url("../img/datatable/sort_desc.png") !important;
  background-repeat: no-repeat !important;
  background-position: center right !important;
}

table.dataTable thead .sorting_asc_disabled {
  background-image: url("../img/datatable/sort_asc_disabled.png") !important;
  background-repeat: no-repeat !important;
  background-position: center right !important;
}

table.dataTable thead .sorting_desc_disabled {
  background-image: url("../img/datatable/sort_desc_disabled.png") !important;
  background-repeat: no-repeat !important;
  background-position: center right !important;
}

#tbl-influencers thead,
#tbl-top-users thead,
#tbl-top-post thead {
  display: none;
}

table.dataTable.no-footer,
table.dataTable thead th,
table.dataTable thead td {
  border-bottom: 0 !important;
}

select {
  color: #544991;
  background-color: white;
  border: 1px solid #979598;
}

option {
  color: #6B649B;
  background-color: #F8F9F9;
}

option:hover {
  color: #6B649B;
  background-color: #F8F9F9;
}

.img-container {
  position: relative;
  z-index: 1;
}

.img-container img {
  max-width: 100%;
}

.img-container p {
  margin: auto;
  color: black;
  align: center;
  padding: 15px 12px 6px 6px;
  line-height: 24px;
  /* igual height de la imagen */
  background: #DBF4F5;
  -webkit-transition: opacity .4s linear;
  transition: opacity .4s linear;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
}

.img-container #prox {
  margin: auto;
  color: black;
  line-height: 172px;
  /* igual height de la imagen */
  text-align: center;
  width: 100%;
  height: 100%;
  background: transparent;
  -webkit-transition: opacity .4s linear;
  transition: opacity .4s linear;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .75;
  font-size: 22px;
  z-index: 2;
}

.img-container #fecha {
  position: absolute;
  margin: auto;
  color: black;
  text-align: center;
  line-height: 21px;
  /* igual height de la imagen */
  width: 100%;
  height: 18px;
  background: #DBF4F5;
  -webkit-transition: opacity .4s linear;
  transition: opacity .4s linear;
  bottom: 0;
  opacity: .75;
}

.img-container #numero {
  margin: auto;
  color: black;
  line-height: 20px;
  /* igual height de la imagen */
  text-align: center;
  width: 20px;
  height: 20px;
  background: #DBF4F5;
  -webkit-transition: opacity .4s linear;
  transition: opacity .4s linear;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .75;
}

.img-container #capa {
  margin: auto;
  color: black;
  line-height: 20px;
  /* igual height de la imagen */
  text-align: center;
  width: 100%;
  height: 100%;
  background: gray;
  -webkit-transition: opacity .4s linear;
  transition: opacity .4s linear;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .75;
}

.img-container:hover p {
  opacity: .75;
}

.box-line-gray {
  background-color: #EEF1FB;
  height: auto;
  font-family: 'Cooper Hewitt';
  font-weight: bold;
  font-size: 14pt;
}

.box-style-font-copper {
  font-family: 'Cooper Hewitt';
  font-weight: bold;
}

.box-padding-right-border {
  padding: 0px 10px 0px 20px;
}

.box-audience {
  background-color: white;
  padding: 15px 15px 15px 0px;
}

.box-content {
  background-color: white;
  padding: 15px 15px 15px 15px;
}

.box-row-background-white {
  background-color: white;
}

.box-dropdown-content {
  float: right;
}

.box-three-audience {
  background-color: white;
  min-height: 290px;
  padding: 15px 15px 15px 15px;
  width: 100%;
}

.border-icon-social {
  border-right: 2px solid #ccc;
}

.box-top-palabras {
  height: 275px;
  background-color: white;
}

.row-top-content {
  padding: 5px 5px 5px 5px;
  margin-left: 5px;
}

.row-top-comunidad-gris {
  padding: 5px 5px 5px 5px;
  left: 5px;
  background-color: gray;
}

.box-below-comunidad-gris {
  height: 35px;
  background: #e0f7fa;
  left: 10px;
}

.box-word-mark-circle {
  background-color: #00BDC5;
  height: 20px;
  color: white;
  display: inline-block;
}

.row-top-content-no-margin {
  margin-left: 0px;
}

.box-below-content {
  box-shadow: 1px 1px 1px #999;
  height: auto;
  background: #DBF4F5;
  margin-top: 3px;
}

.box-below-comunidad {
  box-shadow: 1px 1px 1px #999;
  height: 40px;
  background: rgba(66, 169, 255, 0.2);
  padding: 8px 5px 5px 5px;
}

select:focus {
  outline: none;
}

.p-l-21 {
  padding-left: 21px;
  font-size: 12pt;
  font-weight: normal;
}

.p-b-5 {
  padding-bottom: 5px;
}

.p-t-10 {
  padding-top: 10px;
}

.img-square {
  float: left;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  /* = width for a 1:1 aspect ratio */
  margin: 1.66%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* you change this to "contain" if you don't want the images to be cropped */
  min-width: 100px;
}

.foto-contenido .img-div {
  background-size: cover;
  background-color: lightgrey;
  height: 170px;
  padding: 0px;
  background-repeat: no-repeat;
}

.foto-contenido a.username, .foto-contenido a.hashtag, .foto-contenido a.url {
  color: #006a6f;
}

.img-square-comunidad {
  width: 194px;
  height: 194px;
  background-size: cover;
  /* you change this to "contain" if you don't want the images to be cropped */
  min-width: 100px;
}

.col-md-2_5 {
  position: relative;
  min-height: 1px;
  float: left;
  padding-right: 0px;
  padding-left: 0px;
  width: 19%;
}

#ancho-img {
  height: 200px;
}

.panel-heading .circle .fa {
  margin-left: 6px;
}

@media (max-width: 767px) {
  #ancho-img {
    height: 120px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .img-square-comunidad {
    width: 100px;
    height: 100px;
    background-size: cover;
    /* you change this to "contain" if you don't want the images to be cropped */
    min-width: 80px;
  }
  #ancho-img {
    height: 173px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .img-square-comunidad {
    width: 50px;
    height: 50px;
    background-size: cover;
    /* you change this to "contain" if you don't want the images to be cropped */
    min-width: 50px;
  }
  #ancho-img {
    height: 163px;
  }
}

#influencer-profile-background {
  background: #EEF1FB;
  font-family: 'Cooper Hewitt';
  font-weight: bold;
  border-top: 5px solid #EEF1FB;
}

#influencer-profile-background .row {
  margin-bottom: 5px;
}

.col-app {
  background: #fff;
  margin: 5px;
  padding: 5px;
}

.col-app h5 {
  font-weight: 900;
}

.col-app p {
  margin: 0;
}

.col-app p .img-medium {
  margin: 0 40px;
}

.col-app .important {
  font-size: 25px;
  margin-top: 21px;
}

.col-app .img-large {
  margin: -5px;
}

.col-app .info {
  margin-right: 20px;
}

.col-app .no-data {
  font-size: 15px;
  font-weight: bold;
  padding-top: 25px;
}

.row .col-sm-12 .col-app:first-child {
  margin-top: 0;
}

.padding-left-none {
  padding-left: 0;
}

.padding-right-none {
  padding-right: 0;
}

.table-days-short {
  margin: 0 auto 40px;
  border-collapse: separate;
  border-spacing: 5px;
}

.table-days-short td {
  background: #00BDC5;
  width: 37px;
  height: 37px;
  text-align: center;
}

.table-days-short .best-day {
  background: #DBF4F5;
}

.box-hour {
  margin: 0 auto;
  width: 90%;
  height: 161px;
  display: block;
}

.box-hour .box-hour-clock {
  margin: 20px auto;
  width: 90%;
  height: 104px;
  border: solid 9px;
  border-radius: 17px;
  vertical-align: middle !important;
  background: #00BDC5;
}

.box-hour .box-hour-clock p {
  font-family: 'DS-DIGI';
  margin: 9px auto;
  width: 158px;
  height: 48px;
  vertical-align: middle;
  text-align: center;
  font-size: 44px;
}

#canvass {
  background-color: white;
}

#canvass .circle {
  display: inline-block;
  margin: 1em;
}

.circles-decimals {
  font-size: .4em;
}

.cajita div {
  padding: 5px;
}

.cajita {
  background-color: white;
}

#ccc {
  margin-left: 30cm;
}

.icons div {
  margin-top: 13px;
}

#imagen {
  position: relative;
}

#imagen #numero {
  margin: auto;
  color: black;
  line-height: 20px;
  /* igual height de la imagen */
  text-align: center;
  width: 100%;
  height: 20px;
  background: transparent;
  -webkit-transition: opacity .4s linear;
  transition: opacity .4s linear;
  position: absolute;
  top: 0;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: .75;
}

.imagen img {
  max-width: 100%;
}

.main-container-statistics-influencer {
  background-color: white;
}

.main-container-statistics-influencer #tab-statistics .tab-content > .tab-pane {
  padding: 0px;
}

.main-container-statistics-influencer .table-spacing {
  border-spacing: 5px;
  border-collapse: initial;
  margin-left: auto;
}

.main-container-statistics-influencer .nav-tabs {
  border-bottom: 0;
}

.main-container-statistics-influencer .nav-tabs > li > a {
  font-weight: bold;
}

.main-container-statistics-influencer .nav-tabs > li > a,
.main-container-statistics-influencer .nav-tabs > li.active > a,
.main-container-statistics-influencer .nav-tabs > li.active > a:focus,
.main-container-statistics-influencer .nav-tabs > li.active > a:hover {
  border: 0;
  margin: 15px 5px;
  padding: 5px 5px 0px;
}

.main-container-statistics-influencer .nav-tabs > li.active > a,
.main-container-statistics-influencer .nav-tabs > li.active > a:focus,
.main-container-statistics-influencer .nav-tabs > li.active > a:hover {
  border-bottom: 1px solid gray;
}

.main-container-statistics-influencer .light-tab {
  text-align: left;
  background-color: white;
  margin: 0px -26px;
}

.main-container-statistics-influencer .light-tab > li {
  display: inline-block;
  float: none;
  min-width: 140px;
  margin-left: -3px;
  margin-right: -3px;
}

.main-container-statistics-influencer .light-tab.nav-tabs > li > a img {
  /* Chrome */
}

.main-container-statistics-influencer .light-tab.nav-tabs > li > a,
.main-container-statistics-influencer .light-tab.nav-tabs > li.active > a,
.main-container-statistics-influencer .light-tab.nav-tabs > li.active > a:focus,
.main-container-statistics-influencer .light-tab.nav-tabs > li.active > a:hover {
  border: 0;
  margin: 1px;
  padding: 5px;
  border-radius: 0;
  color: #9e9e9e;
  font-size: 16px;
}

.main-container-statistics-influencer .light-tab.nav-tabs > li > a img,
.main-container-statistics-influencer .light-tab.nav-tabs > li.active > a img,
.main-container-statistics-influencer .light-tab.nav-tabs > li.active > a:focus img,
.main-container-statistics-influencer .light-tab.nav-tabs > li.active > a:hover img {
  opacity: 0.5;
}

.main-container-statistics-influencer .light-tab.nav-tabs > li.active > a,
.main-container-statistics-influencer .light-tab.nav-tabs > li.active > a:focus,
.main-container-statistics-influencer .light-tab.nav-tabs > li.active > a:hover {
  color: #0B0339;
  border-bottom: 0;
  background-color: transparent;
  border-right: 0;
}

.main-container-statistics-influencer .light-tab.nav-tabs > li.active > a label,
.main-container-statistics-influencer .light-tab.nav-tabs > li.active > a:focus label,
.main-container-statistics-influencer .light-tab.nav-tabs > li.active > a:hover label {
  text-decoration: underline;
}

.main-container-statistics-influencer .light-tab.nav-tabs > li.active > a img,
.main-container-statistics-influencer .light-tab.nav-tabs > li.active > a:focus img,
.main-container-statistics-influencer .light-tab.nav-tabs > li.active > a:hover img {
  opacity: 1;
}

/*# sourceMappingURL=app.css.map */
