#influencer-profile-background {
    background: #EEF1FB;
    // margin-top: -25px
    font-family: 'Cooper Hewitt';
    font-weight: bold;
    border-top: 5px solid #EEF1FB;

    .row {
        margin-bottom: 5px;
    }
}

.col-app {
    background: #fff;
    margin: 5px;
    padding: 5px;

    h5 {
        font-weight: 900;
    }

    p {
        margin: 0;

        .img-medium {
            margin: 0 40px;
        }
    }

    .important {
        font-size: 25px;
        margin-top: 21px;
    }

    .img-large {
        margin: -5px;
    }

    .info {
        margin-right: 20px;
    }

    .no-data {
        font-size: 15px;
        font-weight: bold;
        padding-top: 25px;
    }
}

.row {
    .col-sm-12 {
        .col-app:first-child {
            margin-top: 0;
        }
    }
}

.padding-left-none {
    padding-left: 0;
}
.padding-right-none {
    padding-right: 0;
}

.table-days-short {
    margin: 0 auto 40px;
    border-collapse: separate;
    border-spacing: 5px;

    td {
        background: #00BDC5;
        width: 37px;
        height: 37px;
        text-align: center;
    }

    .best-day {
        background: #DBF4F5;
    }
}

.box-hour {
    margin: 0 auto;
    width: 90%;
    height: 161px;
    display: block;

    .box-hour-clock {
        margin: 20px auto;
        width: 90%;
        height: 104px;
        border: solid 9px;
        border-radius: 17px;
        vertical-align: middle !important;
        background: #00BDC5;

        p {
            font-family: 'DS-DIGI';
            margin: 9px auto;
            width: 158px;
            height: 48px;
            vertical-align: middle;
            text-align: center;
            font-size: 44px;
        }
    }
}

#canvass {
    background-color:white;
}
 #canvass .circle {
	display: inline-block;
	margin: 1em;
}

.circles-decimals {
	font-size: .4em;
}
.cajita div{
    padding: 5px;
}
.cajita{
    background-color: white;
}
#ccc{
    margin-left: 30cm;
}
.icons div{
    margin-top: 13px;
}
#imagen {
	position: relative;
}
#imagen #numero {
  margin: auto;
  color: black;
  line-height: 20px; /* igual height de la imagen */
  text-align: center;
  width: 100%;
  height: 20px;
  background: transparent;
  transition: opacity .4s linear;
  position: absolute;
  top: 0;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: .75;
}

.imagen img{
    max-width: 100%;
}





.main-container-statistics-influencer {
    background-color: white;

    #tab-statistics {
        .tab-content > .tab-pane {
            padding: 0px;
        }
    }
    .table-spacing {
        border-spacing: 5px;
        border-collapse: initial;
        margin-left: auto;
    }
    .nav-tabs {
        border-bottom: 0;
    }
    .nav-tabs>li>a {
        font-weight: bold;
    }
    .nav-tabs>li>a,
    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:focus,
    .nav-tabs>li.active>a:hover {
        border: 0;
        margin: 15px 5px;
        padding: 5px 5px 0px;
    }
    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:focus,
    .nav-tabs>li.active>a:hover {
        border-bottom: 1px solid gray;
    }
    .light-tab {
        text-align: left;
        background-color: white;
        // $box-light
        margin: 0px -26px;

        & > li {
            display: inline-block;
            float: none;
            min-width: 140px;
            margin-left: -3px;
            margin-right: -3px;
        }
        & > li:first-child>a {

        }
        & > li:last-child>a {
            //border-right: 1px solid $sidebar-bg !important;
        }
        &.nav-tabs>li>a {
            img{
                 /* Chrome */
            }
        }
        &.nav-tabs>li>a,
        &.nav-tabs>li.active>a,
        &.nav-tabs>li.active>a:focus,
        &.nav-tabs>li.active>a:hover {
            border: 0;
            margin: 1px;
            padding: 5px;
            border-radius: 0;
            color: #9e9e9e;
            font-size: 16px;

            img{
                opacity: 0.5;
            }

        }
        &.nav-tabs>li.active>a,
        &.nav-tabs>li.active>a:focus,
        &.nav-tabs>li.active>a:hover {
            color: #0B0339;
            border-bottom: 0;
            background-color: transparent;
            border-right: 0;


            label{
                text-decoration: underline;
            }

            img{
                opacity: 1;
            }




        }

    }

}


