<form action="">
  <div>
    <label for="name">Name</label>
    <input type="text" id="name">
  </div>
  <div>
    <label for="lastname">Lastname</label>
    <input type="text" id="lastname">
  </div>
  <div>
    <input type="submit" class="button-send">
  </div>
</form>